# Configuración de Variables de Entorno para Supabase
# Renombrar este archivo a .env y colocar las credenciales de tu proyecto

VITE_SUPABASE_URL=https://resfibzlcyuyeblodgis.supabase.co
VITE_SUPABASE_ANON_KEY=coloca_aqui_tu_anon_public_key
